
<div *ngIf="true" class="container p-4">
  <div class="card text-center">
    <div class="card-header">
      <picture>
        <img src="https://cdn.pixabay.com/photo/2014/07/08/12/36/bird-386725_960_720.jpg" class="rounded mx-auto d-block" alt="Imagen del ave en cuestion">
      </picture>
    </div>
    <div class="card-body">
      <h5 class="card-title">Nombre Comun</h5>
      <h5 class="card-title">Nombre cientifico</h5>
      <p class="card-text">zona y cod_zona</p>
    </div>
  </div>
</div>
